{% extends 'base.html' %}
{% load static %}
{% block head %}
{% endblock %}
{% block title %}Ray Advertising LLC{% endblock %}
{% block body %}
<div class="AboutHeroSection">
    <img class="AboutHeroSectionBG" src="{% static 'images/Assets/Hero-bg.webp' %}" alt="heroBg" loading="lazy">
    <div class="falingSterWaper">
        <span class="dropSter"></span><span class="dropSter"></span><span class="dropSter"></span><span
            class="dropSter"></span><span class="dropSter"></span><span class="dropSter"></span><span
            class="dropSter"></span><span class="dropSter"></span><span class="dropSter"></span><span
            class="dropSter"></span>
    </div>
    <div class='AboutwoldWaper'>
        <img class="Aboutwold" src="{% static 'images/Assets/Globe.webp' %}" alt="wold" loading="lazy">
    </div>
    <div class="AboutOverlay"></div>
    <img class="Aboutcarv" src="{% static 'images/Assets/carv.webp' %}" alt="carv" loading="lazy">
    <div class="AboutheroContent container">
        <h1 class="AboutheroHeader">Our Gallery</h1>
    </div>
</div>
<div class="MainGalleryWaper container">
    <h1 class="MainGalleryTitel">Where Creativity, Collaboration, & Success Come to Life</h1>
    <div class="BlogCardWaper">
        {% if getImage %}
        {% for image in getImage %}
        <a href="">
            <img class="GalleryImages" src="{{image.image.url}}" alt="" loading="lazy">
        </a>
        {% endfor %}
        {% else %}
        <h1>Result Not Found</h1>
        {% endif %}
    </div>
    <div class="pagynator">
        <button class="pagynatorButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
            Previous
        </button>
        <p class="pageNumber">1</p>
        <p class="pageNumber pageNumberActive">2</p>
        <p class="pageNumber">3</p>
        <button class="pagynatorButton">
            Next
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
            </svg>
        </button>
    </div>
</div>
{% endblock %}